## Loading Data

In [1]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
df # df.head() and #df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Reading Data

In [12]:
df.iloc[0]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [7]:
# Read Headers
df.columns

# Read a Column
df['Name']

# Read Certain Rows for a Column
df['Speed'][0:10]

# Read Multiple Columns
df[['Name', 'Attack', 'Legendary']]

# Read a Certain Row
df.iloc[0] # iloc is int location ie. index
df.iloc[0:4]

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object
                      Name  Attack  Legendary
0                Bulbasaur      49      False
1                  Ivysaur      62      False
2                 Venusaur      82      False
3    VenusaurMega Venusaur     100      False
4               Charmander      52      False
..                     ...     ...        ...
795                Diancie     100       True
796    DiancieMega Diancie     160       True
797    HoopaHoopa Confined     110       True
798     HoopaHoopa Unbound     160       True
799              Volcanion     110       True

[800 rows x 3 columns]