Source: https://www.youtube.com/watch?v=vmEHCJofslg&list=PLC69bVSazf4qAZj2aFmsYhAn7FeD6cQ0E&index=2&t=726s&ab_channel=KeithGalli

## Loading Data

In [2]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
df # df.head() and #df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Reading Data

In [12]:
df.iloc[0]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [7]:
# Read Headers
df.columns

# Read a Column
df['Name']

# Read Certain Rows for a Column
df['Speed'][0:10]

# Read Multiple Columns
df[['Name', 'Attack', 'Legendary']]

# Read a Certain Row
df.iloc[0] # iloc is int location ie. index
df.iloc[0:4]

# Read a Specific Location (R, C)
df.iloc[2, 1]

# There is also df.loc to find data that isn't integer based (based on more textual info)
df.loc[df['Type 1'] == 'Grass']
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')] # could use or ( | ) instead as well

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [67]:
# Iterate through Each Row
for index, row in df.iterrows():
    print(index, row['Name']) # or could do just row

## Sorting/Describing Data

In [13]:
# Basic Stats
df.describe()

# Sorted by Alphabetical Value; passing in column we want to sort
df.sort_values('Name')

# If we wanted opposite of Alphabetical value
df.sort_values('Name', ascending = False)

# If we want more than one sort parameter
# Or could do [1, 0] instead of [True, False]
# If you do just True or False it will sort both columns that way
df.sort_values(['Name', 'HP'], ascending = [True, False])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

## Making Changes to the Data

### Adding + Removing Columns

In [17]:
# Will add up dif stats (values from HP, Attack, Defense, etc)
# Could potentially use this total to determine which is the best pokemon
# This is not the fastest way to do, but is easiest to read

# ADDING A COLUMN
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df.head(3)

# REMOVING A COLUMN
df = df.drop(columns = ['Total'])

df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

### Adding Columns - Faster

In [21]:
# Recall " : " means all rows
# Adding columns 4-10 (not including 10) ie. HP, Attack, Defense etc
# Axis = 1 to specify adding horizontally
# This is the faster way to add the column

# ADDING A COLUMN- FASTER
df['Total'] = df.iloc[:, 4:10].sum(axis = 1)

df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525

### Rearranging Columns

In [42]:
# Get all columns as a list
cols = list(df.columns)

# Going to rearrange df to have Total column before HP column
# Note: cols[0:4] - #, Name, Type 1, Type 2
# Note: cols[-1] - Total
# Note: cols[4:12] - HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary
# Since cols[-1] is just one value we get it as a string. But we can only concatenate lists with lists so convert col[-1] from str to list by adding brackets around it

df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head(3)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1

## Filtering Data

### Basic Filtering

In [48]:
# Mentioned this earlier
df.loc[(df['Type 1'] == 'Grass') | (df['HP'] > 70)] # could use and (&) instead as well

# Could also save this to a new df
filtered_df = df.loc[(df['Type 1'] == 'Grass') | (df['HP'] > 70)]
filtered_df = filtered_df.reset_index() # resetting index
# or could do filtered_df.reset_index(drop = True, inplace = True) and then do not have to do filtered_df = filtered_df....
# ie reset the index in place without having to create new df
filtered_df

,index,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,6,6,Charizard,Fire,Flying,False,534,78,84,78,109,85,100,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,793,717,Yveltal,Dark,Flying,True,680,126,131,95,131,98,99,6
360,794,718,Zygarde50% Forme,Dragon,Ground,True,600,108,100,121,81,95,95,6
361,797,720,HoopaHoopa Confined,Psychic,Ghost,True,600,80,110,60,150,130,70,6
362,798,720,HoopaHoopa Unbound,Psychic,Dark,True,680,80,160,60,170,130,80,6
363,799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6

### Regex Filtering (filter based on textual patterns)

In [53]:
df.loc[df['Name'].str.contains('Mega')]

# or (~ gives NOT instead of !)

df.loc[~df['Name'].str.contains('Mega')].head(3)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1

In [57]:
import re
# using regular expressions here

# flags = re.I is to ignore case (uppercase vs lowercase)
df.loc[df['Type 1'].str.contains('fire|grass', regex = True, flags = re.I)]

# getting pokemons that start w Pi (eg. Pikachu)
df.loc[df['Name'].str.contains('^pi[a-z]*', regex = True, flags = re.I)].head(3)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
20,16,Pidgey,Normal,Flying,False,251,40,45,40,35,35,56,1
21,17,Pidgeotto,Normal,Flying,False,349,63,60,55,50,50,71,1
22,18,Pidgeot,Normal,Flying,False,479,83,80,75,70,70,101,1

 ## Conditional Changes

In [65]:
# Want to call Fire types Flamers instead
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'  

# Or for all pokemon with type 1 = psychic, they will be legendary
df.loc[df['Type  1'] == 'Psychic', 'Legendary'] = True

In [70]:
# If we want to change multiple parameters at a time
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test Val 1', 'Test Val 2']
df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,Test Val 2,525,80,82,83,100,100,80,Test Val 1
3,3,VenusaurMega Venusaur,Grass,Poison,Test Val 2,625,80,100,123,122,120,80,Test Val 1
4,4,Charmander,Flamer,NaN,False,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,Test Val 2,600,50,100,150,100,150,50,Test Val 1
796,719,DiancieMega Diancie,Rock,Fairy,Test Val 2,700,50,160,110,160,110,110,Test Val 1
797,720,HoopaHoopa Confined,Psychic,Ghost,Test Val 2,600,80,110,60,150,130,70,Test Val 1
798,720,HoopaHoopa Unbound,Psychic,Dark,Test Val 2,680,80,160,60,170,130,80,Test Val 1
799,721,Volcanion,Flamer,Water,Test Val 2,600,80,110,120,130,90,70,Test Val 1

## Aggregate Stats (Groupby)

In [78]:
df.groupby(['Type 1']).mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,count
Type 1,,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,1.0
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,1.0
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,1.0
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,1.0
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,1.0
...,...,...,...,...,...,...,...,...,...
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,1.0
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,1.0
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,1.0
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,1.0
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,1.0

In [79]:
# This doesn't really make sense to do in this scenario but whatever
df.groupby(['Type 1']).sum()

              #  Total    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  count
Type 1
Bug       23080  26146  3925    4897     4880     3717     4471   4256     69
Dark      14302  13818  2071    2740     2177     2314     2155   2361     31
Dragon    15180  17617  2666    3588     2764     3099     2843   2657     32
Electric  15994  19510  2631    3040     2917     3961     3243   3718     44
Fairy      7642   7024  1260    1046     1117     1335     1440    826     17
...         ...    ...   ...     ...      ...      ...      ...    ...    ...
Poison     7050  11176  1883    2091     1927     1692     1803   1780     28
Psychic   21706  27129  4026    4073     3858     5609     4918   4645     57
Rock      17280  19965  2876    4086     4435     2787     3321   2460     44
Steel     11957  13168  1761    2503     3412     1823     2177   1492     27
Water     33946  48211  8071    8305     8170     8379     7898   7388    112

[18 rows x 9 columns]

In [80]:
# Num of pokemon that are of dif Type 1's
df.groupby(['Type 1']).count()

,#,Name,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,count
Type 1,,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Poison,28,28,13,28,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112,112

In [81]:
# OR Num of pokemon that are of dif Type 1's (but see how type 2 has 52 instead of 69 for first row)
# That is bc it's skipping rows that are blank
# So deal w that by just looking at the count column
df['count'] = 1
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
           ...
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, Length: 18, dtype: int64

In [82]:
# Can also group by multiple parameters (to see subsets)
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [88]:
# Will first remove count column
df = df.drop(columns = ['count'])
df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,Test Val 2,525,80,82,83,100,100,80,Test Val 1
3,3,VenusaurMega Venusaur,Grass,Poison,Test Val 2,625,80,100,123,122,120,80,Test Val 1
4,4,Charmander,Flamer,NaN,False,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,Test Val 2,600,50,100,150,100,150,50,Test Val 1
796,719,DiancieMega Diancie,Rock,Fairy,Test Val 2,700,50,160,110,160,110,110,Test Val 1
797,720,HoopaHoopa Confined,Psychic,Ghost,Test Val 2,600,80,110,60,150,130,70,Test Val 1
798,720,HoopaHoopa Unbound,Psychic,Dark,Test Val 2,680,80,160,60,170,130,80,Test Val 1
799,721,Volcanion,Flamer,Water,Test Val 2,600,80,110,120,130,90,70,Test Val 1

In [89]:
# Now sort stats based on defense
# We can now see that steel pokemon have the highest defense
df.groupby(['Type 1']).mean().sort_values('Defense', ascending = False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,,
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
...,...,...,...,...,...,...,...,...
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020

## Working w Large Amounts of Data

In [ ]:
# Chunksize = 5 means we are only reading in 5 rows at a time
# Can do this when reading in large amounts of data
# So if we have a really large file can set chunksize = 10 000 or 100 000
df = pd.read_csv('pokemon_data.csv', chunksize= 5)

# Will do loop to read in all lines
for df in pd.read_csv('pokemon_data.csv', chunksize= 5):
    print("Getting new chunk")

In [90]:
# To create a new df that is empty but w the same cols as your old df
new_df = pd.DataFrame(columns= df.columns)
new_df

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Legendary, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation]
Index: []

In [91]:
for df in pd.read_csv('pokemon_data.csv', chunksize= 5):
    results = df.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, results])

new_df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Fire,1,1,NaN,0,1,NaN,1,1,1,1,1,1,1
Grass,4,4,NaN,4,4,NaN,4,4,4,4,4,4,4
Fire,4,4,NaN,3,4,NaN,4,4,4,4,4,4,4
Water,1,1,NaN,0,1,NaN,1,1,1,1,1,1,1
Bug,2,2,NaN,0,2,NaN,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,NaN,1,1,1,1,1,1,1
Flying,2,2,NaN,2,2,NaN,2,2,2,2,2,2,2
Fire,1,1,NaN,1,1,NaN,1,1,1,1,1,1,1
Psychic,2,2,NaN,2,2,NaN,2,2,2,2,2,2,2
Rock,2,2,NaN,2,2,NaN,2,2,2,2,2,2,2